
.admin{ 
  height: 100%;
  
  .sider{
   position: fixed;
   height: 100%;
   color: white;
 }
 .content{
   background-color: white;
   margin: 30px 15px 0 215px;
 }
 .footer{
   text-align: center;
   margin-left: 200px;
 }
}